.btn {
	padding: 10px;
	border: 1px solid #ccc;
	border-radius: 5px;

	font-size: 1rem;

	cursor: pointer;

	&--primary {
		border: none;
		background-color: $primary;
		color: #fff;
	}

	&--danger {
		border: none;
		background-color: $danger;
		color: #fff;
	}

	&--success {
		border: none;
		background-color: $success;
		color: #fff;
	}
}

.btn-group {
	.btn {
		&:not(:last-child) {
			margin-right: 8px;
		}
	}

	&--mtop {
		margin-top: 25px;
	}

	&--mbot {
		margin-bottom: 25px;
	}
}