.btn {
	padding: 10px;
	border: 1px solid #ccc;
	border-radius: 5px;

	font-size: 1rem;

	cursor: pointer;
	transition: .3s;

	&--primary {
		@include button($primary);
	}

	&--danger {
		@include button($danger);
	}

	&--success {
		@include button($success);
	}

	&--disabled {
		opacity: .5;
	}
}

.btn-group {
	.btn {
		&:not(:last-child) {
			margin-right: 8px;
		}
	}

	&--mtop {
		margin-top: 25px;
	}

	&--mbot {
		margin-bottom: 25px;
	}
}