.questionList {
	margin-bottom: 25px;
	&__el {
		padding: 15px;
		border-radius: 5px;
		background-color: lighten(#212121, 5%);

		&:not(:last-of-type) {
			margin-bottom: 25px;
		}
	}

	&__block {
		margin-bottom: 15px;

		&:last-of-type {
			margin-bottom: 20px;
		}
	}
}

.option {
	display: flex;
	align-items: center;

	&:not(:last-of-type) {
		margin-bottom: 10px;
	}

	.radio {
		margin-left: 15px;
	}
}