.table {
	width: 100%;
	text-align: left;
	border-collapse: collapse;

	thead {
		tr {
			border-bottom: 1px solid #999;
		}

		th {
			padding: 8px;
		}
	}

	tbody {
		tr {
			&:not(:last-of-type) {
				border-bottom: 1px solid #ccc;
			}
		}
		td {
			padding: 8px;
		}
	}

	&--160 {
		width: 160px;
	}
}